{% extends 'users/base.html' %}
{% block content %}
<div class="container-fluid"></div>
    <div>
        
    </div>
    <form action="{% url 'delete' user.id %}" method="POST">
        {% csrf_token %}
        <div style="text-align: center;" class="container-fluid">
            <h2>Confirme para Excluir o Usuário</h2>
            <input name="user_id" type="hidden" value="{{user.id}}" />
            Nome <label name="user_name" class="form-control-sm" type="text">{{user.name}}</label>
            Email <label name="user_email" class="form-control-sm" type="text">{{user.email}}</label>
            <a href="{% url 'home' %}" class="btn btn-primary form-control-sm">Cancelar</a>
            <button class="btn btn-danger form-control-sm">Excluir</button>
        </div>
    </form>
</div>
{% endblock %}