{% extends 'users/base.html' %}
{% block content %}
<div class="container-fluid"></div>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div style="text-align: center;" class="container-fluid">
            <h2>Registrar Usuário</h2>
            Nome <input name="user_name" class="form-control-sm" type="text">
            Email <input name="user_email" class="form-control-sm" type="text">
            Senha <input name="login_password" class="form-control-sm" type="password">
            Confirmar Senha <input name="login_password_confirm" class="form-control-sm" type="password">
            <button class="btn btn-success form-control-sm">Adicionar</button>
        </div>
    </form>
</div>

<div class="container-fluid">
    <h2>Users List:</h2>
    <table class="table table-dark table-hover table-striped">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="table-active">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>
{% endblock %}