@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.sidebar {
    height: 100%;
    width: 78px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: all 0.5s ease;
    padding-top: 60px;
  }

  .sidebar span {
    opacity: 1;
  }

  .sidebar.open {
    width: 250px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
    align-items: center;
    vertical-align: middle;
  }

  a .font20 {
    font-size: 20px;
  }

  a .font25 {
    font-size: 25px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar i{
    color: #fff;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #222;
    color: white;
    padding: 10px 15px;
    border: none;
    display: block;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .3s;
    padding: 16px;
    margin-left: 78px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

