.gradient-custom {
    /* fallback for old browsers */
    background: #a55902;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(195, 80, 12, 1), rgba(255, 213, 150, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(195, 80, 12), rgba(255, 213, 150, 1));
}