{% extends 'base.html' %}
{% block content %}
<!-- Modal Produto -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Escolha o Produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!--form>-->
                {% csrf_token %}
                <div class="input-group mb-2">
                        <input type="text" class="form-control border-right-0 pl-3" id="txt_search_product" placeholder="Digite o nome do Produto" value="">
                        <span class="input-group-append">
                        <button id="btn_search_product" class="btn ripple btn-primary" onclick=""><i class="fa fa-search">Busca</i></button>
                    </span>
                </div>

                <div class="input-group mb-2">
                  <select name="" class="form-control border-right-0 pl-3" id="product_list">

                  </select>
                </div>
            <!--</form>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="btn_add_product" onclick="">Adicionar Produto</button>
        </div>
      </div>
    </div>
  </div>

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div>
            {% if success_message %}
            <span class="message_success text-white" role="alert">{{success_message}}</span>
            {% endif %}
          </div>

          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <div class="mb-2">
                    {% for message in messages %}
                    <span class="message_error" role="alert">{{message}}</span>
                    {% endfor %}
                  </div>

                  <div class="container-fluid">
                    <form action="{% url 'movement_entry' %}" method="POST">
                        {% csrf_token %}
                        <p class="text-white-50 mb-5">Informe os dados para Entrada</p>

                        <div data-mdb-input-init class="form-outline form-white mb-4">
                            <input name="invoice" type="text" id="invoiceInput" class="form-control form-control-sm" value="{{movement.invoice}}" placeholder="Nota Fiscal" />
                            <label class="form-label" for="typeEmailX">Nota Fiscal</label>
                        </div>
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                            <input name="invoice_date" type="date" id="invoiceDateInput" class="form-control form-control-sm" maxlength="6" value="{{movement.invoice_date}}" />
                            <label class="form-label" for="typeEmailX">Data Nota Fiscal</label>
                        </div>

                        <div data-mdb-input-init class="input-group form-outline form-white mb-4">
                            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                                </svg>
                                <span class="visually-hidden">Button</span>
                            </button>
                            <input id="id_choosed_product" type="hidden" name="product_id" value="{{movement.product_id}}" />
                            <input id="txt_choosed_product" name="product_name" type="text" class="form-control form-control-sm" value="{{movement.product_name}}" readonly />

                            <label class="form-label text-center col-12" for="productName">Produto</label>
                        </div>

                        <div data-mdb-input-init class="form-outline form-white mb-4">
                            <input name="quantity" type="number" id="quantityInput" class="form-control form-control-sm" value="{{movement.quantity}}" />
                            <label class="form-label" for="typeQuantityX">Quantidade</label>
                        </div>
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                            <select name="supplier" id="supplierSelect" class="form-select align-items-center" sel>
                                <option value="0" class="form-label text-center">Selecione o Fornecedor</option>
                                {% for supplier in suppliers %}
                                <option value="{{supplier.id}}" class="form-label text-center">{{supplier.name}}</option>
                                {% endfor %}
                            </select>
                            <label class="form-label" for="supplierSelect">Fornecedor</label>
                        </div>

                        <div data-mdb-input-init class="form-outline form-white mb-4">
                            <label name="classification" id="classificationLabel" class="form-control form-control-sm">
                                {{classification}}</label>
                            <label class="form-label" for="typeEmailX">Classificação</label>
                        </div>

                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Adicionar</button>
                    </form>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}