{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- boxicons site https://boxicons.com/?query=-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/util.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />

    <title>Stock Control</title>
  </head>
  <body class="gradient-custom-stock">

    <div id="mySidebar" class="sidebar gradient-custom-sidebar">
      <a id="btnSidebarChange" href="javascript:void(0)" class="openSidebar" onclick="sidebarChange()">
        <i class='bx bx-menu'></i>
        <span class="display-none">Estoque</span>
      </a>
      <a data-bs-toggle="collapse" href="#registerCollapseGroup" role="button" aria-controls="registerCollapseGroup">
        <i class='bx bx-customize'></i>
        <span class="display-none">Cadastro</span>
      </a>
      <div id="registerCollapseGroup" class="collapse">
        <a href="{% url 'user_list' %}">
          <i class='bx bx-user'></i>
          <span class="display-none">Usuários</span>
        </a>
        <a href="{% url 'tech_list' %}">
          <i class='bx bx-wrench'></i>
          <span class="display-none">Técnicos</span>
        </a>
        <a href="{% url 'supplier_list' %}">
          <i class='bx bx-store-alt'></i>
          <span class="display-none">Fornecedores</span>
        </a>
        <a href="{% url 'product_list' %}">
          <i class='bx bx-barcode'></i>
          <span class="display-none">Produtos</span>
        </a>
        <a href="{% url 'stock_list' %}">
          <i class='bx bx-columns'></i>
          <span class="display-none">Estoques</span>
        </a>
      </div>
      <hr class="solid text-white">

      <a href="{% url 'movement_entry' %}">
        <i class='bx bx-list-plus'></i>
        <span class="display-none">Entrada</span>
      </a>
      <a href="{% url 'movement_transference' %}">
        <i class='bx bx-git-compare'></i>
        <span class="display-none">Transferência</span>
      </a>
      <a href="{% url 'withdraw' %}">
        <i class='bx bx-link-external'></i>
        <span class="display-none">Retirada Devolução</span>
      </a>
      <hr class="solid text-white">

      <a data-bs-toggle="collapse" href="#reportCollapseGroup" role="button" aria-controls="reportCollapseGroup">
        <i class='bx bx-bar-chart-alt-2'></i>
        <span class="display-none">Relatório</span>
      </a>
      <div id="reportCollapseGroup" class="collapse">
        <a href="{% url 'movement_list' %}">
          <i class='bx bx-trending-up'></i>
          <span class="display-none font20">Movimentações</span>
        </a>
        <a href="{% url 'balance' %}">
          <i class='bx bx-list-check'></i>
          <span class="display-none">Saldo</span>
        </a>
      </div>
      
      
    </div>

    <div id="main" style="height: auto;">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'script/base.js' %}"></script>
    <script src="{% static 'script/stock.js' %}"></script>

  </body>
</html> 